body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  position: relative;
  margin-top: 20px;
}

.cell {
  width:24px;
  height: 24px;
  border:1px solid grey;
  position: absolute;
  /* transition: background-color 800ms linear; */
}

.cell--dead {
  background-color: white;
}
.cell--alive {
  background-color: black;
}